<% if (movies) {%>
    <ul>
    <% movies.forEach(film=> { %>
        <li>
            <a href="/classics/<%= film.id %>"><%= film.title %></a>
        </li>
    <% }) %>
    </ul>
<%} else {%>
    <p>No movies were found</p>
<% } %>